<template name="nav">
    <div class="menu-btn"></div>  
    <nav>
        <ul>
            <li>
              <a href="#" class="orange">Log In</a>
            </li>
            <li>
                <a href="#">Sign Up</a>
            </li>
            <li>
            <a href="#" class="red">???</a>
            </li>
            <li>
            <a href="#" class="green">Contact</a>
            </li>
        </ul>
        <div class="email-form">
            <h2>Spread the word</h2>
<!--             <form>
                <input type="email" class="field" placeholder="Enter your Email....">
                <button>Let me in</button>
            </form> -->
        </div>
    </nav>
</template>